{% extends 'CivicConnect/bootstrap.html' %}

{% load bootstrap4 %}
{% load socialaccount %}

{% block bootstrap4_content %}

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 100%;
        background-color: aliceblue;
        color: grey;
        text-align: center;
    }
    .navbar a
    {
        font-family: "Bodoni 72" !important;
        font-size: 20px;

    }
</style>

<div class="footer">
    <h3>Share us!</h3>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="fb-share-button"
         data-href="https://www.your-domain.com/your-page.html"
         data-layout="button_count">
    </div>
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script type="IN/Share" data-url="http://civic-connect-bears.herokuapp.com"></script>
</div>

<nav class="navbar navbar-expand-lg navbar-lt bg-lt">
    <a class="navbar-brand">Civic Connect
        <img src="images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'CivicConnect:index' %}">home<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'CivicConnect:index' %}">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'CivicConnect:representatives' %}">representatives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'CivicConnect:templates' %}">templates</a>
                </li>
            {% endif %}
        </ul>
        <div class="nav-item  justify-content-end">

            <a class="nav-item nav-link" href="{% url 'CivicConnect:profile' %}">profile</a>

            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'CivicConnect:logout' %}">logout</a>
            {% else %}
                <a class="nav-item nav-link" href="{% provider_login_url 'google' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
<body>
    {% block content %}(no content){% endblock %}
</body>
{% endblock %}