{% extends 'CivicConnect/bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
<body>
<div class="container">
    {% load socialaccount %}
    {% if user.is_authenticated %}
    <span style="float:right"> <a href="{% url 'CivicConnect:profile' %}" style="margin-right: 5px;">Logged in: {{ user.username }} </a></span><br>
    {% endif %}
    <p>
    <style>
    .setCenter {
    margin:auto;
    width:90%;
    height:auto;
    border:3px solid #000;
    color: black;
    background: gainsboro;
    }
    </style>
    <div class="setCenter">
        <h4 style="text-align:center;">
            <a href="{% url 'CivicConnect:home' %}" style="margin-right: 5px;"> Home </a> |
            {% if user.is_authenticated %}
                <a href="{% url 'CivicConnect:representatives' %}" style="margin-right: 5px;"> Get Representatives </a>|
                <a href="{% url 'CivicConnect:templatesubmission' %}" style="margin-right: 5px;"> Template Submission </a>|
                <a href="{% url 'CivicConnect:templates' %}" style="margin-right: 5px;"> Templates </a>|
                <a href="{% url 'CivicConnect:logout' %}" style="margin-right: 5px;"> Logout </a>
            {% else %}
                <a href="{% provider_login_url 'google' %}" style="margin-right: 5px;"> Login </a>
            {% endif %}
        </h4>
    </div>
    </p>
    <h1 style="text-align:center;">{% block title %}(no title){% endblock %}</h1>
</div>


{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

{% block content %}(no content){% endblock %}

{% endblock %}
</body>

