{% extends 'CivicConnect/base.html' %}

{% load crispy_forms_tags %}
{%

{% load bootstrap4 %}

{% block title %}
Profile Settings
{% endblock %}

{% block content %}
  {% load socialaccount %}
    <br>
    {% if user.is_authenticated %}
        <h1 style="text-align:center;">Edit Profile: {{ user.username }}</h1>
        <div style="text-align:center; margin-right:300px; margin-left:300px; align:center;">
            <form method="post">
                {% csrf_token %}
                {% crispy user_form %}
                {% crispy profile_form %}
                {% buttons submit="Submit" reset="Reset" %}{% endbuttons %}
            </form>
        </div>
    {% else %}
        <div style="text-align:center;">
          <a href="{% provider_login_url 'google' %}">Login with Google</a>
        </div>
    {% endif %}



{% endblock %}