{% extends 'CivicConnect/base.html' %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="head">
	<div class="text-center">
		<h1 class="text-center"><small> Edit your Template Here:</small></h1>
		<p> Once you submit, an admin must re-approve your template before its visible! </p>
	</div>
</div>


<div class="body" style="text-align:center; margin-left:250px; margin-right:250px;">
	<form method="post">
		{% csrf_token %}
		{% crispy template_form %}
        {% buttons submit="Submit" reset="Reset" %}{% endbuttons %}
	</form>
</div>

{% endblock %}
