{% extends 'CivicConnect/base.html' %}

{% load crispy_forms_tags %}
{%

{% load bootstrap4 %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
  {% load socialaccount %}
    <br>
    {% if user.is_authenticated %}

<head>
    <style>
        .header {
            padding: 40px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
        }
    </style>
</head>

<div class="header">
    <h1 style="text-align:center;">Edit Profile: {{ user.first_name }}</h1>
</div>
<br>

        <div style="text-align:center; margin-right:300px; margin-left:300px; align:center;">
            <form method="post">
                {% csrf_token %}
                {% crispy user_form %}
                {% crispy profile_form %}
                {% buttons submit="Submit" reset="Reset" %}{% endbuttons %}
            </form>
        </div>
    {% else %}
        <div style="text-align:center;">
          <a href="{% url 'CivicConnect:representatives' %}">Login with Google</a>
        </div>
    {% endif %}
<br>
<br>
{% endblock %}