{% extends 'CivicConnect/base.html' %}

{% load crispy_forms_tags %}
{%

{% load bootstrap4 %}

{% block title %}
Profile Settings
{% endblock %}

{% block content %}
  {% load socialaccount %}
    <body>
    {% if user.is_authenticated %}
    <p style="text-align:center;">Profile: {{ user.first_name }} {{ user.last_name }} !</p>
    <div style="text-align:center; margin-right:300px; margin-left:300px; align:center;">
        <form method="post">
            {% csrf_token %}
            {% crispy user_form %}
            {% crispy profile_form %}
            {% buttons submit="Submit" reset="Cancel" %}{% endbuttons %}
        </form>
    </div>
    {% else %}
    <div style="text-align:center;">
      <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </div>

    {% endif %}
    </body>



{% endblock %}