{% extends 'CivicConnect/base.html' %}

{% load bootstrap4 %}

{% block title %}

Welcome

{% endblock %}

{% block content %}

<style>
    .column {
        margin-left: auto;
        margin-right:auto;
        width: 33%;
        padding: 20px;
        height: 300px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .jumbotron {
        background: #1abc9c;
        color: white;
    }

    .btn {
        border: white;
        background-color: white;
        padding: 14px 28px;
        font-size: 20px;
        cursor: pointer;
        display: inline-block;

    }

    /* On mouse-over */
    .btn:hover {background: #eee;}

    .success {color: green;}
    .info {color: dodgerblue;}
    .warning {color: orange;}
    .danger {color: red;}
    .default {color: black;}
</style>

<div class="jumbotron">
    <h1 style="text-align:center;">Welcome to Ad Populum, {{ user.first_name }}!</h1>
    <h4 style="text-align:center;">An easier way to connect to your representatives <img src="/static/images/confetti.png" style="width:30px" alt="team"></h4>
</div>

<div class="row">
    <div class="column" a href="{% url 'CivicConnect:templatesubmission' %}" style="background-color:#aaa;">
        <h2>Meet the team! <img src="/static/images/teams.png" style="width:30px" alt="team"></h2>
        <br>
        <p>Get to know the creators!</p>
        <p> <a href="{% url 'CivicConnect:about' %}"><button class="btn default">Learn More</button></a></p>

    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Need to find your representative? <img src="/static/images/star.png" style="width:30px" alt="star"></h2>
        <br>
        <p>Access a list based on your profile's address!</p>
        <p> <a href="{% url 'CivicConnect:representatives' %}"><button class="btn default">Learn More</button></a></p>

    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>Looking for the perfect template? <img src="/static/images/contract.png" style="width:30px" alt="template"></h2>
        <br>
        <p>Use our list of user submitted templates to contact them!</p>
        <p> <a href="{% url 'CivicConnect:templates' %}"><button class="btn default">Learn More</button></a></p>

    </div>
</div>
<br>
<br>
<br>

{% endblock %}