{% extends 'CivicConnect/base.html' %}

{% load bootstrap4 %}

{% block title %}
Profile
{% endblock %}

{% block content %}
  {% load socialaccount %}
    <body>
    {% if user.is_authenticated %}
    <h1 style="text-align:center;">Welcome, {{ user.first_name }} !</h1>
    <div style="text-align:center;">
        <p style="text-align:center;">{{ user.profile.bio }}</p>
        <a href="{% url 'CivicConnect:edit_profile' %}">Edit Profile!</a>
    </div>
    {% else %}
    <div style="text-align:center;">
      <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </div>

    {% endif %}
    </body>



{% endblock %}