{% extends 'CivicConnect/base.html' %}

{% load bootstrap4 %}
{% load index %}

{% block title %}
Get your Representatives
{% endblock %}

{% block content %}
  {% load socialaccount %}
    <body>
        <h2>Federal</h2>
        {% for office in country_representatives.offices %}
            {% for i in office.officialIndices %}
                {% with country_representatives.officials|index:i as rep %}
                    <div class="container">
                        <div class="card flex-row flex-wrap">
                            <div class="card-header border-0">
                                <img src="{{ rep.photoUrl }}" width=150px alt="">
                            </div>
                            <div class="card-block px-2">
                                <h4 class="card-title">{{ rep.name }} ({{ rep.party }})</h4>
                                <p class="card-text">{{ office.name }}</p>
                                <form  action="{% url 'CivicConnect:contactrepresentative' %}" method="POST" class="form">
                                    <input type="hidden" name="name" value='{{ rep.name }}' />
                                    <input type="hidden" name="office" value='{{ office.name }}' />
                                    <input type="hidden" name="address" value='{{ rep.address.0.line1 }}' />
                                    <input type="hidden" name="city" value='{{ rep.address.0.city }}' />
                                    <input type="hidden" name="state" value='{{ rep.address.0.state }}' />
                                    <input type="hidden" name="zip" value='{{ rep.address.0.zip }}' />
                                    <input type="hidden" name="phone" value='{{ rep.phones.0 }}' />
                                    <input type="hidden" name="url" value='{{ rep.urls.0 }}' />
                                    <input type="hidden" name="email" value='{{ rep.emails.0 }}' />
                                    {% csrf_token %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">Contact</button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endfor %}

        <h2>Regional</h2>
        {% for office in administrative_representatives.offices %}
            {% for i in office.officialIndices %}
                {% with administrative_representatives.officials|index:i as rep %}
                    <div class="container">
                        <div class="card flex-row flex-wrap">
                            <div class="card-header border-0">
                                <img src="{{ rep.photoUrl }}" width=150px alt="">
                            </div>
                            <div class="card-block px-2">
                                <h4 class="card-title">{{ rep.name }} ({{ rep.party }})</h4>
                                <p class="card-text">{{ office.name }}</p>
                                <form  action="{% url 'CivicConnect:contactrepresentative' %}" method="POST" class="form">
                                    <input type="hidden" name="name" value='{{ rep.name }}' />
                                    <input type="hidden" name="office" value='{{ office.name }}' />
                                    <input type="hidden" name="address" value='{{ rep.address.0.line1 }}' />
                                    <input type="hidden" name="city" value='{{ rep.address.0.city }}' />
                                    <input type="hidden" name="state" value='{{ rep.address.0.state }}' />
                                    <input type="hidden" name="zip" value='{{ rep.address.0.zip }}' />
                                    <input type="hidden" name="phone" value='{{ rep.phones.0 }}' />
                                    <input type="hidden" name="url" value='{{ rep.urls.0 }}' />
                                    <input type="hidden" name="email" value='{{ rep.emails.0 }}' />
                                    {% csrf_token %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">Contact</button>
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </body>

{% endblock %}

