{% extends 'CivicConnect/base.html' %}

{% load bootstrap4 %}

{% block title %}
Create a Template!
{% endblock %}

{% block content %}
<div class="head">
<div class="text-center">
	<h1 class="text-center"><small> Submit your Template Here:</small></h1
</div>
</div>


<div class="body" style="text-align:center; margin-left:250px; margin-right:250px;">
<form action="{% url 'CivicConnect:templatesubmission' %}" method="post">  
{% csrf_token %}
	<g class="text-uppercase text-center">
	
	<u> Topic: </u> 
	<br>
	
	</g>
	

	<input type="text" name="topic"><br><br>
	
	<a class="text-uppercase text-center">
		
	<u> Template: </u> 
	<br>
		
	</a>

		
	<textarea class = "form-control" rows="20" cols = "20" name ="template"></textarea>
	<br>
	{% buttons submit="Submit" reset="Cancel" %}{% endbuttons %}
</form> 
</div>

{% endblock %}
